body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color:#333
}
header{
    background-color: #111;
    color:#fff;
    padding: 20px 0;
    text-align: center;
 }
 nav a{
    color: white;
    text-align: center;
    padding: 10px 0;
 }
 nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
 }
 nav a:hover {
    text-decoration: underline;
    color: #f7c600;
 }
 section{
    padding: 40px;
    max-width: 900px;
    margin: auto;
 }
 .fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
 }
 .fotos img {
    width:280px ;
    border-radius: 10px;
    box-shadow: #fff;
 }
 footer{
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
 }